.header-container {
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    height: 70px;
    padding: 5px 20px;
    align-items: center;

    &__search-area {
        display: flex;
        gap: 10px;
    }
}